.navigation-myNotes {
  float: right;
}

.copy-box {
  position: absolute;
  display: none;

  .copy-box-button {
    padding: 40px;
    background-color: @primary-color;
    color: @primary-color-inverted;

    .icon {
      color: @primary-color-inverted;
    }
  }
}

.sideview {
  .sideview-iframe-holder {
    .newNote,
    .notesManager {
      height: 100%;
      width: 100%;

      iframe {
        height: 100%;
        width: 100%;
      }

      &.hidden {
        display: none;
      }
    }

    &.loading-iframe {
      .notesManager-iframe,
      .notesManager-iframe {
        display: none;
      }
    }

    .newNote-button,
    .postNote-button {
      height: 64px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
