  #dropdowncontainer, #id_cancel, #navbar, #page-header, #page-footer, #page-header, #dock, #block-region-side-pre, #maincontent, #fitem_id_subject, #fitem_id_attachments, #fgroup_id_buttonar, #oublogbuttons, #block-region-side-post, .navbar, .fitem_id_mailnow, .fdescription, .fheader, .block_adminblock, .settings, .oublog-groups-individual-selectors, .participationbutton, .addexportpostsbutton, .oublog-views {
    display: none !important;
  }

  #page-content {
    padding-right: 0;
  }

  .feditor {
    max-width: 98% !important;
  }

@media (max-width : 370px) {
    #id_tags {
      max-width: 200px !important;
    }

    #id_title {
      max-width: 286px !important;
    }

    .feditor {
      max-width: 300px !important;
    }
  }

  body {
    padding: 0 !important;
  }

  .fitem_actionbuttons {
    text-align: center;
  }

  .fitemtitle {
    max-width: 100% !important;
  }

  span.error {
    display: none;
  }

  .hidden {
    display: inherit !important;
    visibility: inherit !important;
  }

  h2 {
    display: none;
  }

  input, .fitem_fcheckbox {
    display: none;
  }

  #region-main {
    width: 100% !important;
  }

  #container {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
